a {
	text-decoration:none;
}
.jumbotron {
margin-top:100px;
background-image:url('http://images.paraorkut.com/img/wallpapers/1024x768/b/big_wave_surfing-2462.jpg');
}
.form-control {
margin-top:20px;
margin-right:50px;
}
.customized{
margin-top:20px;
margin-left:50px;
}
ul {
	list-style:none;
	margin-left:-40px;
}
